# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular libraries used by Data Scientists
- Table of some data science Tools.
- Examples of evaluating arithmetic expressions in Python and how to provide comments in the cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia 
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. SciPy
4. Scikit Learn
5. TensorFlow

|Data Science tools|
|---|
|SAS|
|Apache Hadoop|
|TesnsorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Dhaoui Aziz